<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:fragment="header" class="header">
    <div class="bg-dark px-4 pt-3 d-flex justify-content-between">
        <a th:href="@{/}">
            <img width="70" th:src="@{/images/finki-logo.png}" alt="FINKI Logo"/>
        </a>
        <div>
            <a href="login">
                <button sec:authorize="isAnonymous()" type="button" class="btn btn-outline-light me-2 text-white">
                    <i class="fas fa-right-from-bracket pr-1"></i> Log in
                </button>
            </a>
            <a href="/logout">
                <button sec:authorize="isAuthenticated()" type="button" class="btn btn-outline-light me-2 text-white">
                    <i class="fas fa-right-to-bracket pr-1"></i> Log out
                </button>
            </a>
        </div>
    </div>
    <ul class="nav justify-content-start flex-column flex-lg-row p-3 bg-dark">
        <li class="nav-item">
            <a th:href="@{/users}" class="nav-link text-white">
                Users
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/bankAccounts}" class="nav-link text-white">
                Bank Accounts
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/transactions}" class="nav-link text-white">
                Transactions
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/expenses}" class="nav-link text-white">
                Expenses
            </a>
        </li>
        <li class="nav-item">
            <a th:href="@{/savingsTarget}" class="nav-link text-white">
                Savings Target
            </a>
        </li>



    </ul>
    <hr class="hr mb-0 mt-0">
</header>
</html>
