<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>User Profile</h1>
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Username (Email):</dt>
                <dd class="col-sm-9" th:text="${user.username}"></dd>

                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9" th:text="${user.name}"></dd>

                <dt class="col-sm-3">Surname:</dt>
                <dd class="col-sm-9" th:text="${user.surname}"></dd>

                <dt class="col-sm-3">Phone:</dt>
                <dd class="col-sm-9" th:text="${user.phone}"></dd>

                <dt class="col-sm-3">Birth Date:</dt>
                <dd class="col-sm-9" th:text="${user.birthDate}"></dd>
            </dl>
            <a th:href="@{/users/edit}" class="btn btn-warning">Edit Profile</a>
        </div>
    </div>
</div>
</body>
</html>
